@import url("__h3/information-container__h3.css");
@import url("__button-like/information-container__button-like.css");
.card__information-container {
  padding: 21px;
  justify-content: space-between;
  position: relative;
  flex-direction: row;
  background-color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
}
