@import url("__container/section-cards__container.css");
.main__section-cards {
  padding-top: 36px;
  gap: 1rem;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;
}
