@import url("__image/profile__image.css");
@import url("__container/profile__container.css");
.section-interactions__profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 620px) {
  .section-interactions__profile {
    flex-direction: column;
  }
}
