@import url("section-cards/main__section-cards.css");
@import url("section-interactions/main__section-interactions.css");
.main {
  width: screen;
  max-width: 840px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 36px;
  contain: content;
  padding-left: 27px;
  padding-right: 27px;
}
@media screen and (max-width: 620px) {
  .main {
    padding-left: 19px;
    padding-right: 19px;
  }
}
