@import url("button-close/button-close.css");
@import url("destiny-popup__h3/destiny-popup__h3.css");
@import url("__input/popup-card__input.css");
@import url("__button-save/popup-card__button-save.css");
.popup-card {
  position: relative;
  width: 33%;
  margin: auto;
  padding: 36px;
  background-color: white;
  border-radius: 10px;
}
