@import url("./__logo/header__logo.css");

.header {
  display: flex;
  contain: content;
  flex-direction: column;
  background-color: black;
  max-width: 840px;
  margin: auto;
  padding: 45px 0 45px 0;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 855px) {
  .header {
    padding: 28px 27px 28px 27px;
  }
}
