.section-cards__container {
  display: grid;
  grid-gap: 17px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

@media screen and (max-width: 900px) {
  .section-cards__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 520px) {
  .section-cards__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
